<!doctype html>

<html lang="en">
  
<head>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script>
    $(function () {
        $("#homelink").load("templates/homelink.handlebars")
    });
    </script>
    
	<meta charset="utf-8">
	<title>hapiflo</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/hapifloapp.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
    
	<div id="homelink"></div>
	<header>
	<div class= "curmenu">
		<h1 id= "hFlow">FLOW</h1>

      	<div class= a>
      		<div class= b></div>
      		<div class= b></div>
      		<div class= b></div>
      		<ul class= "myMenu">
      			<li class = "list"><a href='/appindex' style= "color: black;">FLOW</a></li>
      			<li class = "list"><a href='/appposes' style= "color: black;">POSES</a></li>
      			<li class = "list"><a href= '/apphelp' style= "color: black;">HELP</a></li>

      		</ul>
      	</div>
	</div>
	</header>
	
	<table style= "width: 100%">

	<tr>
		<td><center><a href="/appnoviceflo"><div style="width: 280px; height: 300px; padding-top: 3%; padding-bottom: 2%; color: gray;"><h1 id = "novicelink">NOVICE</h1> 
			<h3 style= "color: black">(Click here if you do not practice yoga regularly)</h3></div></a></center></td>
	</tr>
	<tr>
		<td><center><a href="/appyogiflo"><div style="width: 280px; height: 300px; padding-top: 3%; padding-bottom: 2%; color: gray;"><h1 id = "yogilink">YOGI</h1>
			<h3 style= "color: black">(Click here if you have a regular yoga practice)</h3></div></a></center></td>
	</tr>
	</table>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/aindex.js"></script>
	
</body>
</html>