<html>
<head>
	<meta charset="utf-8">
	<title>hapiflo</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/hapifloapp.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<header>
	<div class= "curmenu">
		<h1 id= "hSet">YOGI AUDITOR</h1>
		<div class= a>
      		<div class= b></div>
      		<div class= b></div>
      		<div class= b></div>
      		<ul class= "myMenu">
      			<li class = "list"><a href='/appindex'>PROFILE</a></li>
      			<li class = "list"><a href='/appyogiflow'>FLOW</a></li>
      			<li class = "list"><a href='/appposes'>POSES</a></li>
      		</ul>
      	</div>
	</div>
	</header>
	
	<br><br>
	<center>
	<div class = "onBut"><button type="button" class="btn btn-default">ON</button>
	</div>
	<div class = "offBut"><button type="button" class="btn btn-default">OFF</button>
    </div>
	</center> 
	<br><br>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>	
</body>
</html>