<!doctype html>

<html lang="en">
  
<head>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script>
    $(function () {
        $("#homelink").load("templates/homelink.handlebars")
    });
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<meta charset="utf-8">
	<title>hapiflo</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/hapifloapp.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
	<header>
	<div class= "curmenu">
		<h1 id= "hFlow">YOGI FLOW</h1>
      	<div class= a>
      		<div class= b></div>
      		<div class= b></div>
      		<div class= b></div>
      		<ul class= "myMenu">
      			<li class = "list"><a href='/appindex' style= "color: black;">FLOW</a></li>
      			<li class = "list"><a href='/appposes' style= "color: black;">POSES</a></li>
      			<li class = "list"><a href= '/apphelp' style= "color: black;">HELP</a></li>
      		</ul>
      	</div>
	</div>
	</header>
<body>
        
	<div id="homelink"></div>
    

		<p id = "iBreath"> <font size = "5" style = "color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; "> <center>Begin your audio guided flow and focus your gaze inward:</center>  </font></p>

	<div class= "myPlay">
		<button type= "button">
		<i class= "glyphicon glyphicon-play" id="play"></i>
		<i class= "glyphicon glyphicon-pause" id="pause"></i>
		</button>
	</div>

	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;}
	th, td{ padding: 15px;}
	</style>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
	<script src="js/yogiplay.js"></script>	
    

</body>
</html>