<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>hapiflo</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/hapifloapp.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
</head>

<body>
	
	<table style= "width: 100%">

	<tr>
		<td><center><a href="/appindex"><div style="width: 280px; height: 300px; padding-top: 3%; padding-bottom: 2%; color: #46D9E3;"><h1 id = "yogilink">Enter App Here!</h1>
			<h3 style= "color: black">(Click here to enter our app testing)</h3></div></a></center></td>
	</tr>

	</table>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>