<!doctype html>

<html lang="en" margin:0>
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script>
    $(function () {
        $("#navbar").load("templates/navbar.handlebars")
    });
function openC(evt, cityName) {
    var i, tabcontent, tablinks;
    
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
<div id="navbar"></div>
<head>
	<meta charset="utf-8">
	<title>hapiflo</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="js/appposes.js"></script>
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/hapifloapp.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />
	<link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>
<body>
    <header style="background-image:url(header.jpg);
                   background-repeat:no-repeat;
                   background-size:contain;
                   background-position:center; 
                   background-color: black;
                   height: 120px;
                   min-width: 320px;">
    <td>    
    <img class="topimg" border="0" src="title.png" height="50px" > 
    <img class="bottomimg" border="0" src="1.png" height="20px">
    <img class="bottom2" border="0" src="2.png" height="20px">
        
        
    </td>    
    </header>
	<div id="navbar"></div>

    

    
        <div class="tab" >
          <button class="tablinks" onclick="openC(event, 'Home')">Home</button>
          <button class="tablinks" onclick="openC(event, 'Flo')">Flo</button>
          <button class="tablinks" onclick="openC(event, 'Wiki')">Wiki</button>
          <button class="tablinks" onclick="openC(event, 'Blog')">Blog</button>
          <button class="tablinks" onclick="openC(event, 'About')">About</button>
        </div>


        <div id="Flo" class="tabcontent">
          <h3>Flo</h3>
          <p></p> 
        </div>

        <div id="Wiki" class="tabcontent">
          <h3>Wiki</h3>
            
            	{{#each appposes}}
                    <div class = "wordPoses">
                        <h6><center>{{name}}</center></h6>
                        <h2 style= "color: gray; size: 14pt;"><center>{{sanskrit}}</center></h2>
                    </div>
                    <div class = "mediaPoses">
                        <center><img width= "200" height= "200" src= "{{imgURL}}"></center>
                        <center><iframe width="300" height="315" src="{{videoURL}}"></iframe></center>
                    </div>
                {{/each}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
	<script src="js/appposes.js"></script>
            
        </div>
        <div id="Blog" class="tabcontent">
          <h3>Blog</h3>
          <p>Blog </p>
        <center><iframe src="http://gingerqueenland.blogspot.com/" width="95%" height=1500px></iframe></center>
            
        </div>
        <div id="About" class="tabcontent">
          <h3>About</h3>
          <p>About </p>
        </div>
    
    <div class="1"> 
      <h3>The Importance of Heart Rate Variability</h3>
      <p><center>
          
    <img class="img1" border="0" src="hrv2.png" width="90%">
          
          
          </center></p>
    </div>

    <article class="2"> 
      <h3>Heart Rate Variability</h3>
      <p><center>
          
    <img class="img2" border="0" src="hrv1.jpg" width="90%" >
          
          </center></p>
    </article>

    <section class="3"> 
      <h3>Stress</h3>
      <p><center>
          
    <img class="img3" border="0" src="stress.jpg" width="90%">
          
          </center></p>
    </section>
    
    
    
    
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>	
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span style="color:">HapiFlo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					路
					<a href="#">Flo</a>
					路
					<a href="#">Employee Health</a>
					路
					<a href="#">Wiki</a>
					路
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Hapi Inc. &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Pacific Beach</span> San Diego, CA</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>(713) - 419 - 3495</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:teamhapiflo@gmail.com">teamhapiflo@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About HapiFlo</span>
					Hapiflo is an Auido-guided yoga application for iOS. 
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
</body>
</html>