<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Navbar</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <script src="js/index.js"></script>
</head>

<header>
    <div class="custom-container">
        <div class="navigationbar-flex navbar-default">
               <tr>
		      <td><center><a href="/"><div id = "alphalink" style="color: gray;"> Click to  <br />Return  <br />Home</div></a></center></td>
	           </tr>
        </div>
    </div>
 
</header>